<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPayment" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2852/PaymentServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPayment"
                contract="PaymentGatewayService.IPayment" name="BasicHttpBinding_IPayment" />
        </client>
    </system.serviceModel>
</configuration>