<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Enter your Name to Search</h2>
@using (Html.BeginForm("Search"))
{
   @Html.TextBox("username")
   <input type="submit" value="Search" />

}
